<div class="main-content">
    <div class="section-content section-content-p30">

        <h4>Category: {{ currentCategoryName }}</h4>
        <hr>

        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        <h1> {{ tempProduct.name }} </h1>
                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- Version 1.0 -->

<!-- <table class="table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempProduct of products"  class="align-middle">
            <td>
                <img src="{{ tempProduct.imageUrl }}"  height="50">
            </td>
            <td>{{tempProduct.name}}</td>
            <td>{{tempProduct.unitPrice  | currency:'USD' }}</td>
            <td>{{tempProduct.unitsInStock}}</td>
        </tr>     
    </tbody>
</table> -->